meta(charset="UTF-8")
meta(
  content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" 
  name="viewport"
  )
link(
  href="css/inuit.css" 
  rel="stylesheet"
  )
link(
  href="css/fluid-grid16-1100px.css" 
  rel="stylesheet"
  )
link(
  href="css/menu.css" 
  rel="stylesheet"
  )
link(
  href="css/eve-styles.css" 
  rel="stylesheet"
  )
link(
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet"
  )
link(
  href="favicon-48.png" 
  rel="shortcut icon"
  )
link(
  href="favicon-16.png" 
  sizes="16x16" 
  type="image/png" 
  rel="shortcut icon"
  )
link(
  href="favicon-32.png" 
  sizes="32x32" 
  type="image/png" 
  rel="shortcut icon"
  )
link(
  href="favicon-48.png" 
  sizes="48x48" 
  type="image/png" 
  rel="shortcut icon"
  )
link(
  href="favicon-48.png" 
  rel="apple-touch-icon-precomposed"
  )
script(src="js/respond-min.js")
script(src="js/jquery164min.js")
script
  include js/toggle-menu.js
script
  include js/select-active.js